@import "tailwindcss";

@theme {
  --color-background: #1a1a2e;
  --color-foreground: #ededed;
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-sans);
}

@utility full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@utility unset-full-bleed {
  width: unset;
  margin-left: unset;
}
