# Copy this file to .env for local development
# For production, set secrets via: sst secret set <NAME> <VALUE>

EVM_ADDRESS=
SVM_ADDRESS=
AVM_ADDRESS=
FACILITATOR_URL=https://facilitator.goplausible.xyz
